.container {
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}

.head {
    height: 90px;
    /* background-color: #FFF9F2; */
}

.info {
    padding: 13px;
    margin-top: -90px;
}

.info .img {
    text-align: center;
}

.info .img img {
    width: 100%;
    height: auto;
}

.colorName {
    color: #1B1B1B;
}

.categoryName {
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
}

.name {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.price {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    /* color: #FB9400; */
}